.container{
    width: 412px;
    height: 100vh;
    background-image: url(../assets/images/background.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    border: 2px solid rgb(155, 146, 146);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
  

.top{
    
}