.container{
    width: 412px;
    min-height: 100vh;
    background-image: url(../assets/images/background.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* position: relative; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 5px 15px 100px 15px;
}

.top{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.top img:first-child{
    width: 105px
}

.welcome{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.name{
    font-family: poppinsBold;
    font-size: 26px;
    color: rgba(0, 0, 0, 0.79);
    text-transform: capitalize;
}

.motivation{
    font-family: poppinsBold;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.65);
}

.search{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

form{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.input{
    width: 100%;
    position: relative;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input input{
    background: rgba(234, 234, 234, 1);
    width: 100%;
    height: inherit;
    border-radius: 10px;
    border: none;
    outline: none;
    text-align: center;
    padding: 0px 5px;
    color: rgba(0, 0, 0, 0.65);
    font-family: poppinsBold;
}

.input img{
    position: absolute;
    right: 10%;
}

input[type = "submit"]{
    width: 80px;
    height: 30px;
    padding: 2px;
    color: white;
    font-family: poppinsBold;
    font-size: 12px;
    background: black;
    align-self: flex-end;
    border-radius: 5px;
}

.menubar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0%;
    z-index: 1000;
    background: white;
    height: 80px;
}

.menu-icons{
    display: flex;
    align-items: center;
    background: black;
    width: 95%;
    justify-content: space-between;
    padding: 2px 10px;
    border-radius: 10px;
    height: 60px;
}

.menu-icons a img{
    width: 30px;
}

.icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.active-page{
    margin-top: 5px;
}

.icon #cart-count{
    color: white;
    font-family: poppinsBold;
    font-size: 11px;
    position: absolute;
    right: -25%;
    top: -10%;
}

.best-selling-section{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: 50px;
}

.top-section{
    display: flex;
    width: 100%;
    align-items: flex-start;
    flex-direction: column;
}

.section-title{
    font-family: poppinsBold;
    font-size: 20px;
    color: black;
    text-transform: capitalize;
}

.section-small{
    font-family: poppinsSemiBold;
    font-size: 10px;
    color: rgba(0, 0, 0, 0.72);
}

.meal-box{
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.31);
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    height: 170px;
    padding: 10px 20px 20px 20px;
    gap: 5px;
}

.meal-box > a{
    position: absolute;
    right: -15%;
    top: -40%;
}

.meal-box > a img{
    width: 150px;
}

.meal-name{
    font-family: poppinsBold;
    font-size: 16px;
    color: black;
    text-transform: capitalize;
}

.meal-price{
    font-family: poppinsBold;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.88);
    text-transform: capitalize;
}

.meal-description{
    font-family: poppinsSemiBold;
    font-size: 10px;
    color: rgb(168, 168, 168);
    width: 70%;
}

.button-and-heart{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: relative;
    margin-top: 10px;
}

.button-and-heart .order-button{
    background: black;
    color: #fff;
    width: 116px;
    height: 35px;
    font-family: poppinsBold;
    font-size: 14px;
    text-transform: capitalize;
    border-radius: 5px;
}

.like-button{
    position: absolute;
    right: 0;
    background: transparent;
}

.like-button img{
    width: 27px;
}

#liked{
    display: none;
}

.recommended{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.meals{
    display: flex;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}

.recommended-meal{
    width: 45%;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.31);
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-top: 10px;
    margin-bottom: 30px;
    height: 210px;
    position: relative;
    flex-direction: column;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 15px;
    gap: 20px;
}


.recommended-meal > a{
    position: absolute;
    right: -18%;
    top: -20%;
}

.recommended-meal > a img{
    width: 130px;
}

.button-only{
    position: relative;
}

.button-only > button{
    position: absolute;
    background: transparent;
}

.button-only > button img{
    width: 20px;
}

#rliked{
    display: none;
}

.meal-info{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.rmeal-name{
    font-family: poppinsBold;
    font-size: 14px;
    color: black;
    text-transform: capitalize;
}

.rmeal-price{
    font-family: poppinsBold;
    font-size: 14px;
    color: black;
    text-transform: capitalize;
}

.rmeal-description{
    font-family: poppinsSemiBold;
    font-size: 10px;
    color: rgb(170, 170, 170);
}

.user-profile{
    width: 90%;
    height: 600px;
    position: absolute;
    background: #fff;
    top: 8%;
    z-index: 100;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.31);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 30px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    display: none;
}

.user-profile > img{
    position: absolute;
    right: 5%;
}

.user-avatar{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.user{
    font-family: poppinsSemiBold;
    font-size: 22px;
    color: #000;
    text-transform: capitalize;
}

.user-avatar img{
    width: 50px;
}

.user-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 15px;
}

.info{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.info-title{
    font-family: poppinsBold;
    font-size: 14px;
    color: #1a1919;
}

.info-value{
    font-family: poppinsBold;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.79);
}

.user-buttons{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.user-buttons button{
    width: 300px;
    height: 70px;
    color: white;
    font-family: poppinsBold;
    border-radius: 7px;
    font-size: 30px;
    text-transform: capitalize;
    background: #000;
}

/* .user-buttons button:first-child{
    background: #000;
} */

#logout{
    background: rgb(77, 72, 72);
}

.juo{
    border: 2px solid red;
}