.container{
    width: 412px;
    min-height: 100vh;
    background-image: url(../assets/images/mealIndividual.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* position: relative; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px 15px 100px 15px;
}

.top{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

form{
    border: 2px solid red;
}