.container{
    width: 412px;
    height: 100vh;
    background-image: url(../assets/images/mealIndividual.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* position: relative; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px 15px 100px 15px;
}

.top{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

form{
    height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}



.image-like-quantity{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 10px 0px 10px 0px;
}

.image-like-quantity > img{
    width: 100%;
}

.image-like-quantity .buttons{
    position: relative;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-like-quantity .buttons button{
    position: absolute;
    background: transparent;
}

#liked{
    display: none;
}

.quantity{
    display: flex;
    align-items: center;
    gap: 10px;
}

.quantity > button{
    background: transparent;
}

.quantity input{
    width: 50px;
    background: rgb(240, 240, 240);
    height: 30px;
    text-align: center;
    padding: 2px;
    color: rgba(0, 0, 0, 0.95);
    font-family: poppinsBold;
    font-size: 15px;
    border-radius: 5px;
    border: none;
}

.meal-info{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.name-and-price{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.meal-name{
    color: black;
    font-size: 22px;
    font-family: poppinsBold;
}

.meal-price{
    font-family: poppinsSemiBold;
    color: black;
    font-size: 22px;
}

.description{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: 5px;
}

.description-heading{
    font-family: poppinsSemiBold;
    color: rgba(0, 0, 0, 0.7);
    font-size: 14px;
}

.meal-description{
    font-family: poppinsSemiBold;
    color: rgba(0, 0, 0, 0.41);
    font-size: 11px;
}

.ingredients{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    width: 100%;
}

.ingredient-heading{
    font-family: poppinsSemiBold;
    color: rgba(0, 0, 0, 0.7);
    font-size: 14px;
}

.ingredient-boxes{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 20px;
    justify-content: space-between;
}

.ingredient-box{
    border-radius: 10px;
    background: #FFF;
    box-shadow: -4px 2px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 70px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ingredient-box p{
    font-family: poppinsSemiBold;
    color: black;
    font-size: 11px;
}

.total{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.total-heading{
    font-family: poppinsSemiBold;
    font-size: 24px;
    color: black;
    text-transform: capitalize;
}

.total input{
    width: 150px;
    outline: none;
    background: transparent;
    font-family: poppinsSemiBold;
    font-size: 28px;
    text-align: right;
    color: black;

}

form input[type="submit"]{
    width: 335px;
    height: 70px;
    background: var(--main-color);
    color: var(--button-text);
    font-family: poppinsBold;
    font-size: 30px;
    border-radius: 10px;
    text-transform: capitalize;
}