.container{
    width: 412px;
    min-height: 100vh;
    background-image: url(../assets/images/background.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* position: relative; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 5px 15px 100px 15px;
}

.top{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.top img:first-child{
    width: 105px
}

.welcome{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.name{
    font-family: poppinsBold;
    font-size: 26px;
    color: rgba(0, 0, 0, 0.79);
    text-transform: capitalize;
}

.motivation{
    font-family: poppinsBold;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.65);
}

.search{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

form{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.input{
    width: 100%;
    position: relative;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input input{
    background: rgba(234, 234, 234, 1);
    width: 100%;
    height: inherit;
    border-radius: 10px;
    border: none;
    outline: none;
    text-align: center;
    padding: 0px 5px;
    color: rgba(0, 0, 0, 0.65);
    font-family: poppinsBold;
}

.input img{
    position: absolute;
    right: 10%;
}

input[type = "submit"]{
    width: 80px;
    height: 30px;
    padding: 2px;
    color: white;
    font-family: poppinsBold;
    font-size: 12px;
    background: black;
    align-self: flex-end;
    border-radius: 5px;
}

.menubar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0%;
    z-index: 1000;
    background: white;
    height: 80px;
}

.menu-icons{
    display: flex;
    align-items: center;
    background: black;
    width: 95%;
    justify-content: space-between;
    padding: 2px 10px;
    border-radius: 10px;
    height: 60px;
}

.menu-icons a img{
    width: 30px;
}

.icon{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.active-page{
    margin-top: 5px;
}

.user-profile{
    width: 90%;
    height: 600px;
    position: absolute;
    background: #fff;
    top: 8%;
    z-index: 100;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.31);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 30px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    display: none;
}

.user-profile > img{
    position: absolute;
    right: 5%;
}

.user-avatar{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.user{
    font-family: poppinsSemiBold;
    font-size: 22px;
    color: #000;
    text-transform: capitalize;
}

.user-avatar img{
    width: 50px;
}

.user-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 15px;
}

.info{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.info-title{
    font-family: poppinsBold;
    font-size: 14px;
    color: #1a1919;
}

.info-value{
    font-family: poppinsBold;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.79);
}

.user-buttons{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.user-buttons button{
    width: 300px;
    height: 70px;
    color: white;
    font-family: poppinsBold;
    border-radius: 7px;
    font-size: 30px;
    text-transform: capitalize;
    background: #000;
}

/* .user-buttons button:first-child{
    background: #000;
} */

#logout{
    background: rgb(77, 72, 72);
}